@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<br />
<br />
<br />

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="stylesheet" type="text/css" href="~/css/snap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/demo.css" />

    @*<title>3 Col Portfolio - Start Bootstrap Template</title>*@

    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@

    <!-- Custom CSS -->
    @*<link href="css/3-col-portfolio.css" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        $(function () { alert("Hello World!"); });
    </script>

</head>

<body>
    @*<div class="row">
        <div class="col-md-6">      
            <div id="content">
                <p>
                    After graduating with double Computer Science and
                    Japanese majors in 2009, I moved to Osaka, Japan to
                    teach English through the JET Program. I wanted to
                    "give back", to inspire students to visit the US in the
                    same way that my Japanese teachers inspired me to
                    travel to Japan years earlier. The JET Program is not
                    only about teaching and encouraging the use of
                    English though. A large part of my efforts there were
                    focused on "grassroots internationalization"- forming
                    bonds on an individual-to-individual level, as a way to
                    share culture. I also had an amazing time outside of
                    work exploring Japan, taking pictures, and making
                    life-long friends.
                </p>
            </div>
            <br/><br />
            <div>
                <p>
                    After graduating with double Computer Science and
                    Japanese majors in 2009, I moved to Osaka, Japan to
                    teach English through the JET Program. I wanted to
                    "give back", to inspire students to visit the US in the
                    same way that my Japanese teachers inspired me to
                    travel to Japan years earlier. The JET Program is not
                    only about teaching and encouraging the use of
                    English though. A large part of my efforts there were
                    focused on "grassroots internationalization"- forming
                    bonds on an individual-to-individual level, as a way to
                    share culture. I also had an amazing time outside of
                    work exploring Japan, taking pictures, and making
                    life-long friends.
                </p>
            </div>
            <br /><br />
            <div>
                <p>
                    After graduating with double Computer Science and
                    Japanese majors in 2009, I moved to Osaka, Japan to
                    teach English through the JET Program. I wanted to
                    "give back", to inspire students to visit the US in the
                    same way that my Japanese teachers inspired me to
                    travel to Japan years earlier. The JET Program is not
                    only about teaching and encouraging the use of
                    English though. A large part of my efforts there were
                    focused on "grassroots internationalization"- forming
                    bonds on an individual-to-individual level, as a way to
                    share culture. I also had an amazing time outside of
                    work exploring Japan, taking pictures, and making
                    life-long friends.
                </p>
            </div>
            <br /><br />
            <div>
                <p>
                    After graduating with double Computer Science and
                    Japanese majors in 2009, I moved to Osaka, Japan to
                    teach English through the JET Program. I wanted to
                    "give back", to inspire students to visit the US in the
                    same way that my Japanese teachers inspired me to
                    travel to Japan years earlier. The JET Program is not
                    only about teaching and encouraging the use of
                    English though. A large part of my efforts there were
                    focused on "grassroots internationalization"- forming
                    bonds on an individual-to-individual level, as a way to
                    share culture. I also had an amazing time outside of
                    work exploring Japan, taking pictures, and making
                    life-long friends.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/About/elementarySchool.png" alt="" 
                 style="padding:10px; background-color:blue; transform:rotate(3deg)" />
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/About/elementarySchool2.png" alt="" />
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/About/emptyClassroom.png" alt="" />
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/About/schoolView.png" alt="" />
        </div>
        <div class="col-md-6">                
        After graduating with double Computer Science and
                Japanese majors in 2009, I moved to Osaka, Japan to
                teach English through the JET Program. I wanted to
                "give back", to inspire students to visit the US in the
                same way that my Japanese teachers inspired me to
                travel to Japan years earlier. The JET Program is not
                only about teaching and encouraging the use of
                English though. A large part of my efforts there were
                focused on "grassroots internationalization"- forming
                bonds on an individual-to-individual level, as a way to
                share culture. I also had an amazing time outside of
                work exploring Japan, taking pictures, and making
                life-long friends.</div>
    </div>*@




    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <div>
                <h3>Snap.js</h3>
                <div class="demo-social">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Snap.js - A Library for creating beautiful mobile shelfs in Javascript" data-url="http://jakiestfu.github.com/Snap.js/" data-count="none" data-via="jakiestfu">Tweet</a>
                    <a href="https://twitter.com/jakiestfu" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow jakiestfu</a>
                    <iframe src="http://ghbtns.com/github-btn.html?user=jakiestfu&amp;repo=Snap.js&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="20"></iframe>
                </div>
                <h4>Demos</h4>
                <ul>
                    <li><a href="default.html">Default</a></li>
                    <li><a href="noDrag.html">No Drag</a></li>
                    <li><a href="dragElement.html">Drag Element</a></li>
                    <li><a href="rightDisabled.html">Right Disabled</a></li>
                    <li><a href="hyperextend.html">Hyperextension Disabled</a></li>
                    <li><a href="skinnyThreshold.html">Skinny Threshold</a></li>
                    <li><a href="toggles.html">Toggles</a></li>
                    <li><a href="classNames.html">Class Names</a></li>
                    <li><a href="expand.html">Expanding</a></li>
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="ratchet/template.html">Ratchet</a></li>
                </ul>
                <div>
                    <p>The Default demo shows basic Snap.js functionality</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non erat ac leo ultrices blandit sed vel risus. Pellentesque facilisis blandit auctor. Maecenas vestibulum vulputate tincidunt. Mauris nec quam libero. Fusce eget ligula non leo varius condimentum quis ac elit. Donec id urna ut neque semper ultrices. Proin ut suscipit felis. Nullam neque felis, ullamcorper scelerisque volutpat vel, vehicula vehicula neque. Aenean scelerisque elit ac erat sagittis ullamcorper.</p>
                </div>
            </div>
        </div>
        <div class="snap-drawer snap-drawer-right"></div>
    </div>


    <div id="content" class="snap-content">
        <div id="toolbar">
            <a href="#" id="open-left"></a>
            <h1>Default</h1>
        </div>
    </div>
    <script type="text/javascript" src="~/js/snap.js"></script>
    <script type="text/javascript">
            var snapper = new Snap({
                element: document.getElementById('content')
            });

    </script>

    <!-- /.container -->
    <!-- jQuery -->
    @*<script src="js/jquery.js"></script>*@

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
