body {
    background-image: url("../images/About/cork.jpg");
    background-size: 30%;
}

p{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 7px;
}

div img{
padding:10px; background-color:blue; transform:rotate(3deg);
}